.features {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.feature.reverse {
    flex-direction: row-reverse;
}

.feature-content {
    flex: 1;
}

.feature-content h2 {
    font-size: clamp(2rem, 5vw, 4rem);
    margin-bottom: 20px;
}

.feature-content p {
    color: #555;
    line-height: 1.8;
}

.feature-image {
    flex: 1;
}

.feature-image img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}

@media(max-width:900px) {

    .feature,
    .feature.reverse {
        flex-direction: column;
        text-align: center;
    }

    .feature-image img {
        width: 320px;
        height: 320px;
    }
}