.footer {
    background: #dce9d9;
    padding: 0 7% 40px;
}

.footer-top {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 60px;

    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.footer-logo h2 {
    font-size: 2rem;
    font-weight: 500;
}

.footer-links {
    display: flex;
    gap: 90px;
}

.footer-links div {
    display: flex;
    flex-direction: column;
}

.footer-links h4 {
    margin-bottom: 20px;
    font-size: 16px;
}

.footer-links a {
    text-decoration: none;
    color: #555;
    margin-bottom: 12px;
    font-size: 15px;
}

.footer-bottom {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.footer-bottom p {
    color: #666;
    font-size: 14px;
}

@media (max-width: 992px) {

    .footer-top {
        flex-direction: column;
    }

    .footer-links {
        gap: 50px;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {

    .footer {
        padding: 0 5% 30px;
    }

    .footer-links {
        flex-direction: column;
        gap: 35px;
    }
}