
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
:root {
  --bg: #f4f4f2;
  --text: #111111;
  --muted: #666666;

  --green: #dff1dc;
  --purple: #8b5cf6;
  --coral: #ff7d7d;

  --border: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
}

#root {
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea {
  font-family: inherit;
}

section {
  width: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

::selection {
  background: #dff1dc;
  color: #111;
}